@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';


// add spaces
$spacer: 1vw;
@for $myspaces from 1 through 100{
    $spacers: map-merge($spacers, ($myspaces: $spacer * $myspaces));
}
// color
$colorfont: #433F39;
$colorbutton: #FFB03B;

$custom-colors: (
"colorfont": $colorfont,
"colorbutton": $colorbutton,
);


$theme-colors: map-merge($custom-colors , $theme-colors);



@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../../node_modules/bootstrap/scss/carousel';
@import './variablle';
@import './mixing';
@import './allModule'