.chef{
    width: 99vw;
    height: 80vh;
    .top-why{
        @include myDisplay(flex,column,center,center,10px);
        button{
             border: none;
            width: 120px;
            height: 30px;
            background-color: #FFF7EB;
            border-radius: 20px
        }
        h2{
            font-family:$myfont;
        }
    }
    .card-group{
        padding-inline: 50px;
        .card{
            width: 400px;
                    position: relative;
            img{
                width: 100%;
                padding-left: 40px;
            }
        }
        .card-body{
            background-color: rgb(254, 254, 254);
            width: 300px;
            position: absolute;
            left: 90px;
            bottom: 10px;
            .clas{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}