.contact-section {
    padding: 50px 20px;
    font-family: Arial, sans-serif;
    .top-why{
        @include myDisplay(flex,column,center,center,10px);
        button{
             border: none;
            width: 120px;
            height: 30px;
            background-color: #FFF7EB;
            border-radius: 20px
        }
        h2{
            font-family:$myfont;
        }
    }
.map-container {
  max-width:100vw;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}

/* Responsive */
@media (max-width: 700px) {
  .map-section .title h2 {
    font-size: 26px;
  }

  .map-container iframe {
    height: 300px;
  }
}
    .contact-container {
        max-width: 1200px;
        margin: auto;
        display: flex;
        gap: 40px;
        background: #fff;

        .contact-info {
            flex: 1;
            background: #fafafa;
            padding: 25px;
            border-radius: 8px;

            h2 {
                font-size: 28px;
                margin-bottom: 10px;
            }

            p {
                color: #666;
                font-size: 14px;
                margin-bottom: 20px;
            }
        }

        .info-box {
            margin-bottom: 20px;

            h4 {
                color: $colorbutton;
                margin-bottom: 5px;
                font-family:$myfont;
            }
        }


    }

    .contact-form {
        flex: 2;
        background: #fff;
        padding: 25px;
        h2{
            font-family: $myfont;
        }

        .row2 {
            display: flex;
            gap: 15px;
            margin-bottom: 15px;

            input {
                flex: 1;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }

        .full {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        textarea {
            width: 100%;
            height: 150px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            margin-bottom: 15px;
        }
         button {
        background: #f2a735;
        color: white;
        padding: 12px 25px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 100px;
    }

    button:hover {
        opacity: 0.9;
    }
    }

    /* Responsive */
    @media (max-width: 800px) {
        .contact-container {
            flex-direction: column;
        }

        .row2 {
            flex-direction: column;
        }
    }
}