.events{
    width: 99vw;
    height: 90vh;
    background-image: url(../../../public/images/events-bg.jpg);
    background-position: 50% 50%;
    @include myDisplay(flex,none,center,center,none);
    .carousel-inner{
        width: 100%;
        height: 100%;
        .carousel-item{
            @include myDisplay(flex,none,none,none,none);
            width: 100%;
            height: 80%;
            img{
                width: 600px;
            }
        }

    }
}