footer {
    background: #111;
    color: #fff;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;

    .footer-container {
        max-width: 1200px;
        margin: auto;
        @include myDisplay(flex,none,none,space-between,30px);
        flex-wrap: wrap;

        .footer-box {
            flex: 1 1 200px;
            min-width: 200px;
            div{
                @include myDisplay(flex,none,none,none,10px);
            }

            h3 {
                font-size: 18px;
                margin-bottom: 15px;
                color: $colorbutton;
                font-family: $myfont;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                line-height: 22px;
                color: #ccc;
            }

            .icon {
                margin-right: 6px;
            }
        }

        .social {
            a {
                display: inline-block;
                margin-right: 10px;
                width: 32px;
                height: 32px;
                border: 1px solid ;
                border-radius: 50%;
                color:$colorbutton;
                font-size: 14px;
                text-align: center;
                line-height: 32px;
                text-decoration: none;
                color: gray;
                i{
                    color: gray;
                }
                i:hover{
                    color: $colorbutton;
                    transition: 0.8s;
                }
            }

            a:hover {
                color:$colorbutton;
            }
        }
    }
    .copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #333;
    font-size: 14px;
    color: #bbb;
}
}
@media (max-width: 700px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}