*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Home {

    .nav-bar {
        width: 100%;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.778);
        z-index: 10;

        .top-nav {
            background-color: rgba(0, 0, 0, 0.521);
            padding-inline: 50px;
            width: 100%;
            height: 40%;
            @include myDisplay(flex, none, center, space-between, none);

            div {
                @include myDisplay(flex, none, center, space-between, 20px);

                p {
                    color: white;
                    font-size: small;
                }

                i {
                    color: #FFB03B;
                }
            }

            button {
                width: 160px;
                height: 30px;
                background-color: #FFB03B;
                border: none;
                border-radius: 20px;
                color: white;
            }

        }

        .bottom-nav {
            width: 100%;
            height: 60%;
            padding-inline: 80px;

            @include myDisplay(flex, none, center, space-between, none);

            .lien {
                width: 700px;
                @include myDisplay(flex, none, center, space-between, none);

                a {
                    text-decoration: none;
                    color: white;
                    font-size: small;
                    font-weight: bold;
                }
                a:hover{
                    color: #FFB03B;
                    transition-duration: 0.5s ;
                }
            }
            div {
                h1 {
                    color: white;
                }
                .logo{
                    font-family: "Satisfy", cursive;
                }
            }
        }

    }
    .carousel{
        .carousel-inner{
            .carousel-item{
                position: relative;
                width: 100vw;
                img{
                    width: 100%;
                    height: 100vh;
                }
                .carousel-caption {
                    position: absolute;
                    bottom: 200px;
                    h1{
                                            font-family: "Satisfy", cursive;
                        font-weight: bold;
                        padding-bottom: 30px;
                    }
                    p{
                        text-align: justify;
                        padding-bottom: 30px;
                    }
                    .butt-on{
                        .button-left{
                            width: 120px;
                            height: 40px;
                            border-radius: 20px;
                            background-color: inherit;
                            border-color: #FFB03B;
                            color: white;
                        }
                        .button-left:hover{
                            background-color: #FFB03B;
                            transition: 0.5s;
                        }
                        .button-right{
                             width: 150px;
                            height: 40px;
                            border-radius: 20px;
                            background-color: inherit;
                            border-color: #FFB03B;
                            color: white;
                        }
                        .button-right:hover{
                            background-color: #FFB03B;
                            transition: 0.5s;
                        }
                    }
                   
                }
            }
        }
    }


}