.why-Us{
    width: 99vw;
    height: 70vh;
    .top-why{
        width: 100%;
        height: 30%;
        @include myDisplay(flex,column,center,center,20px);
        button{
            border: none;
            background-color: #FFF7EB;
            width: 90px;
            border-radius: 20px;
        }
        h2{
            font-family: $myfont;
        }
    }
    .bottom-why{
        width: 100%;
        height: 70%;
        @include myDisplay(flex,none,center,center,none);
        .parent-caré{
            width: 90%;
            height: 80%;
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            gap: 20px;
            .carée{
                width: 100%;
                height:90%;
                background-color: #F9F9F9;
                gap: 20px;
                padding: 20px;
                h1{
                    font-size: x-large;
                }
                h2{
                    font-family: $myfont;
                    font-size:xx-large ;
                }
                p{
                    color: rgba(128, 128, 128, 0.742);
                    font-size: medium;
                }
            }
            .carée:hover{
                background-color:$colorbutton;
                transition: 0.5s ;
            }
        }
    }
}